html {
	overflow: hidden!important;
}

.dark-glass {
		background-color: var(--darkPrimary)!important;
}

.v-application.theme--dark,
.v-application.theme--light,
.v-application--wrap {
		background-color:transparent!important;
		font-family: var(--firstFamily);
}

/* .v-application--wrap {
    background-color: transparent!important;
    min-height: 100vh!important;
    background-position: center;
    background-size: 100vmax;
} */

.theme--dark.v-sheet,
.theme--dark.v-card,
.v-application .theme--dark.v-card {
    background-color: var(--darkPrimary);
    color: var(--textColor);
}

.v-application .theme--dark.tabs__bar, .theme--dark .tabs__bar,
.theme--light.v-application {
	background-color: transparent;
	color: var(--textColor);
}

.theme--dark.v-tabs>.v-tabs-bar,
.theme--dark.v-card,
.theme--light.v-tabs>.v-tabs-bar,
.theme--light.v-tabs-items {
	background-color: transparent;
}

.theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon,
.theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active),
.theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active))>.v-icon
.v-tab.v-tab {
	color: #fff;
}

.v-tab.v-tab--active, .v-tab--active .v-icon {
    color: #fa0;
}

.v-application code, .v-application kbd {
	background-color: transparent;
	font-size: 0.85rem;
}

.theme--dark .btn, .theme--dark .icon,
.theme--dark .tabs__bar .tabs__div,
.badge {
    text-shadow: 1px 1px 2px #00000090!important;
}

.theme--light.v-footer, .theme--light.v-sheet,
.theme--light.v-btn.v-btn--icon,
.theme--light.v-icon,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
	color: #fff!important;
}

.theme--light.v-chip:not(.v-chip--active), .v-chip,
.v-navigation-drawer__content, .v-menu,
.theme--light.v-list {
	background-color: var(--darkPrimary);
}

.theme--dark.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
	background-color: transparent;
}

/* .theme--dark .tabs__bar {
	background-color: var(--darkPrimary);
	background-color: transparent;
	color: var(--textColor);
} */

.theme--light.v-chip:not(.v-chip--active), .v-chip {
	padding: 20px 10px;
}

.chip .chip__content {
	white-space: inherit!important;
	height: fit-content;
	font-size: 1.2rem!important;
	text-shadow: 1px 1px 2px #00000090;
	margin: 5px 10px;
	padding: 5px 10px;
	user-select: none;
	border-radius: 0!important;
}
.chip__content {
	background-color: transparent;
}
.chip {
	background-color: var(--darkPrimary)!important;
}

.container {
    background-color: transparent!important;
		max-width:1000px;
}

.expansion-panel {
		background-color: transparent!important;
		max-width:900px;
}
.expansion-panel__body {
    background-color: var(--darkPrimary);
}
ul.expansion-panel {
		background-color: transparent!important;
}
.theme--dark .expansion-panel .expansion-panel__container, .expansion-panel__container {
		background-color: transparent!important;
		border-top: 0.5px solid #ffffff50!important;
		color: var(--textColor);
}
.expansion-panel__body .card {
		color: var(--textColor);
}
.expansion-panel__header {
		font-family: var(--secondFamily);
		font-size: 1.5rem!important;
		color: var(--darkPrimary);
		font-weight:bold;
}
.tooltip__content {
	background-color: transparent;
	border: 0;
}
.input-group  {
	padding: 10px 20px;
}
.input-group__input {
	padding: 10px;
}
.input-group--text-field label  {
	padding: 0 20px;
}

.v-input--selection-controls__input input[role=checkbox],
.v-input--selection-controls__input input[role=radio],
.v-input--selection-controls__input input[role=switch] {
	opacity: 1;
}

.transparent {
	background-color: transparent;
	border:0;
}
.menu__activator {
	margin-top: 10px;
}
.menu__content {
	position: fixed;
}
.list {
  padding: 0;
  /* background: var(--orange)!important; */
	background-color: var(--list-background);
}

.list__item {
    /* background-color: var(--secondary); */
		background-color: var(--list-tile-background);
    color: #fff!important;
}
.list__item--link {
    /* background-color: var(--secondary); */
		color: #var(--darkPrimary);
		background-color: var(--list-tile-background);
}
.list__item--active {
    color: #557!important;
		background-color: #ffffffb0;
}
.list__item__title {
	font-size: 1.0rem!important;
	font-weight: lighter;
}

.navigation-drawer {
	height: 100vh;
	/* background-color: var(--secondary); */
	background-color: transparent;
}
aside.navigation-drawer {
	height:85%;
}

.card__text {
	min-height: fit-content;
	text-shadow: 0px 0px 3px #00000090;
	padding: 20px 30px;
}
