html {
	overflow: hidden!important;
}
.application.theme--dark {
	background-color:transparent!important;
	font-family: var(--firstFamily);
}
.application--wrap {
    background-color:transparent!important;
    min-height: 100vh!important;
		top:50px;
		/* background-image: url(../images/columns.gif); */
    background-position: center;
    background-size: 90vmax;
}
.application.theme--light {
      background-color:transparent!important;
}
.application .theme--dark.card, .theme--dark .card {
    background-color: var(--darkPrimary);
    color: var(--textColor);
}

.application .theme--dark.tabs__bar, .theme--dark .tabs__bar {
	background-color: transparent;
	color: var(--textColor);
}

.theme--dark .btn, .theme--dark .icon,
.theme--dark .tabs__bar .tabs__div,
.badge {
    text-shadow: 1px 1px 2px #00000090!important;
}
/* .theme--dark .tabs__bar {
	background-color: var(--darkPrimary);
	background-color: transparent;
	color: var(--textColor);
} */

.chip .chip__content {
	white-space: inherit!important;
	height: fit-content;
	font-size: 1.2rem!important;
	text-shadow: 1px 1px 2px #00000090;
	margin: 5px 10px;
	padding: 5px 10px;
	user-select: none;
	border-radius: 0!important;
}
.chip__content {
	background-color: transparent;
}
.chip {
	background-color: var(--darkPrimary)!important;
}

.container {
      background-color: transparent!important;
			max-width:1000px;
}

.expansion-panel {
		background-color: transparent!important;
		max-width:900px;
}
.expansion-panel__body {
    background-color: var(--darkPrimary);
}
ul.expansion-panel {
		background-color: transparent!important;
}
.theme--dark .expansion-panel .expansion-panel__container, .expansion-panel__container {
		background-color: transparent!important;
		border-top: 0.5px solid #ffffff50!important;
		color: var(--textColor);
}
.expansion-panel__body .card {
		color: var(--textColor);
}
.expansion-panel__header {
		font-family: var(--secondFamily);
		font-size: 1.5rem!important;
		color: var(--darkPrimary);
		font-weight:bold;
}
.tooltip__content {
	background-color: transparent;
	border: 0;
}
.input-group  {
	padding: 10px 20px;
}
.input-group__input {
	padding: 10px;
}
.input-group--text-field label  {
	padding: 0 20px;
}

.transparent {
	background-color: transparent;
	border:0;
}
.menu__activator {
	margin-top: 10px;
}
.menu__content {
	position: fixed;
}
.list {
  padding: 0;
  /* background: var(--orange)!important; */
	background-color: var(--list-background);
}

.list__tile {
    /* background-color: var(--secondary); */
		background-color: var(--list-tile-background);
    color: #fff!important;
}
.list__tile--link {
    /* background-color: var(--secondary); */
		color: #var(--darkPrimary);
		background-color: var(--list-tile-background);
}
.list__tile--active {
    color: #557!important;
		background-color: #ffffff90;
}
.list__tile__title {
	font-size: 1.0rem!important;
	font-weight: lighter;
}
.navigation-drawer {
	height: 100vh;
	/* background-color: var(--secondary); */
	background-color: transparent;
}
aside.navigation-drawer {
	height:85%;
}

.card__text {
	min-height: fit-content;
	text-shadow: 0px 0px 3px #00000090;
	padding: 20px 30px;
}
/* .card__actions {
	background-color: var(--magenta);
}
.card__actions .btn {
    margin: 4px 15px;
} */
