@charset "utf-8";

body {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:0px;
  overflow-y:auto;
  background-color: var(--secondary)!important;
  font-family: var(--bodyFamily)!important;
  font-size:1rem!important;
}

* { user-select: none; }

p {
    text-indent: 25px;
    text-align:justify;
    line-height: 2.0em;
    color: var(--textColor);
}

.center-js {
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  /* mix-blend-mode: hard-light;
  -webkit-filter: drop-shadow(4px 4px 5px #000000b0);
  filter: drop-shadow(4px 4px 5px #000000b0); */
  transition: all 0.5s;
}

.center-js:hover {
  /* width: 110px;
  height: 110px;
  mix-blend-mode: multiply; */
  cursor:pointer;
}

footer {
	position:fixed;
	box-sizing:border-box;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height:40px;
	padding:8px 10px;
	text-align:right;
	background-color: transparent!important;
  font-family: var(--footerFamily);
  font-size: 18px;
  text-shadow: 1px 1px 2px #00000090;
}

@media screen and (max-height: 480px) {
  footer {
    display: none!important;
  }
}

a, button,
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dark-card {
  background-color: #00000070!important;
  color: #ffff00!important;
}

.bottomSheet {
  margin-bottom:20px;
}
.subheader {
  font-family: var(--subheaderFamily);
}

.toolbar__title {
  text-shadow: 1px 1px 1px #00000090;
}

.scroll-container {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 32px 16px;
  background: #00000090;
  border: solid 1px white;
  overflow-y: auto;
}

.scrolled-from-left {
  padding: 10px 20px;
  line-height: 1.0rem;
  opacity: 0;
  color: white;
  width: max-content;
  transform: translate3d(-300px, 0, 0);
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: inset -0px -0px 2px rgba(0, 20, 30, 0.8)
}
::-webkit-scrollbar-thumb {
	width: 6px;
	/* background-image: linear-gradient(to right, #ffffff90, #ffffff50); */
  background: #00000050;
  /* mix-blend-mode: color-burn; */
	box-shadow: inset 1px 1px 1px #fff;
}
::-webkit-scrollbar-corner {
	background-color: #fff;
}
