/* .quiz-container {
    position: fixed;
    top:20%;
    bottom:10%;
    left:8%;
    right:8%;
    border:solid 1px white;
    overflow:auto;
    padding: 10px 20px;
} */

.quiz-container{
    position:fixed;
    top:0;
    left:0;
    bottom:30px;
    right:0
}

.quiz-container-actions {
    position: fixed;
    height:50px;
    bottom:10%;
    left:8%;
    right:8%;
    border:solid 1px white;
}
.quiz-container-question {
    position: fixed;
    top:10%;
    height:auto;
    left:8%;
    right:8%;
    border:solid 1px white;
    padding: 10px 20px;
}
.badge {
    margin: 18px 20px 5px 20px;
}
.text--shadow {
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000aa;
}

.finishSlide, .successSlide, .failureSlide {
  height:700px;
  background-size: cover;
}
.finishSlide {
  background-image: url(../images/game-over.gif);
}
.successSlide {
  background-image: url(../images/success.gif);
}
.failureSlide {
  background-image: url(../images/failure.gif);
}
