@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Jura|Comfortaa|Montserrat|Roboto|Srisakdi|Dancing+Script');

:root {
  --textColor: #8fb6bf;
  --primary: #36465d;
	--background: #15253090;
  --darkPrimary: #0f2530;
	--greenText: #409940;
	--magenta: #9b03a5;
	--orange: #fa0;
	--pickerBackground: #004040;

  --specWordsColor: #cd47e2;
  --userNamesColor: #e09050;
  --codeSnippetBack: #3b596d90;
  --codeSnippetColor: #a0b8e8;

  --firstFamily: 'Montserrat', 'Roboto', sans-serif;
  --secondFamily: 'Didact Gothic', 'Roboto', sans-serif;
  --bodyFamily: 'Didact Gothic','Montserrat','Jura', sans-serif;
  --footerFamily: 'Srisakdi', 'Roboto', monospace, sans-serif;
  --subheaderFamily: 'Dancing Script', 'Jura', 'Didact Gothic', 'Comfortaa', 'sans-serif';
}
