@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins|Roboto|Montserrat|Dancing+Script|&display=swap');

:root {
  --textColor: #cde;
  --primary: #36465d;
  --secondary: #234;
	--background: #15253090;
  --darkPrimary: #000000C0;
	--greenText: #409940;
	--magenta: #9b03a5;
	--orange: #fa0;
	--pickerBackground: #004040;

  --list-background: transparent;
  --list-tile-background: transparent;

  --specWordsColor: #cd47e2;
  --userNamesColor: #e09050;
  --codeSnippetBack: #00000000;
  --codeSnippetColor: #a0b8e8;

  --firstFamily: 'Poppins', 'Roboto', sans-serif;
  --secondFamily: 'Poppins', 'Roboto', sans-serif;
  --bodyFamily: 'Montserrat', sans-serif;
  --footerFamily: 'Dancing Script', 'Roboto', monospace, sans-serif;
  --subheaderFamily: "Luckiest Guy", 'sans-serif';
}
